# Core Data & ML
pandas
numpy
torch
transformers
accelerate
bitsandbytes
tqdm

# NLP & Embeddings
sentence-transformers
tokenizers
tiktoken
rank_bm25

# RAG & Vector DB
qdrant-client
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-qdrant
langchain-openai
langchain-text-splitters

# Models & APIs
openai
google-genai
pydantic

# Document Parsing
pymupdf4llm
docling
xmltodict

# Evaluation
ragas
datasets
rank_bm25

# Environment & Notebooks
python-dotenv
ipykernel
ipywidgets
IPython
