pandas
numpy
ipykernel
transformers
torch
accelerate
ollama
tabulate
openai
python-dotenv
matplotlib
seaborn
fastapi
gradio
blob
sentence-transformers
hf_xet
bs4
chromadb
langchainhub
python_dotenv
pymupdf4llm
langchain
langchain-community
langchain_openai
langchain-openai
langchain_chroma
tiktoken
unstructured[md]